/* CSS Reset */
*{
    margin:0;
    padding: 0;
}

/*CSS Variables */

:root{
    --navbar-height:59px;
}

/*Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top:0px;
    
    /* justify-content: center; */

}
/*Navigation Bar ka :Logo and Image */
#logo{
    margin: 23px 30px;
}

/* id logo ke andar ka img */
#logo img{
    height: 98px;
    margin: -30px -30px
}
/*Navigation Bar ka :List Styling*/

#navbar ul{
    display:flex;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top:0px;
    left:0px;
    width: 100%;
    z-index:-1;
    opacity:0.4;
}

#navbar ul li{
    /* color:white */
    list-style: none; /*that circles go aways*/
    font-size: 1.3rem;
}

#navbar ul li a{
    color: aliceblue;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/*Home setion*/

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 68px;
    height: 560px;
    justify-content: center;
    align-items: center;
}

/*backgroung lagane keliye */
#home::before{
    content: "";
    position: absolute;
    background: url('../bg3.jpg') no-repeat center center/cover;
    height: 610px;
    top:0px;
    left:0px;
    width: 100%;
    z-index:-1;
    opacity:0.95;
}
#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
/*Services Section */
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 3px;
    border-radius: 28px;
    background-color:#f4f6f7;
    margin-bottom: 20px;
}
#services .box img{
    height: 100px;
    margin: auto;
    display: block;
 }
 #services .box p{
    
 }

 /*cleints section */
 #cleint-section h1{
    font-size: 2.5rem;
 }
 #cleint-section{
    position: relative;
    height: 344px;
    align-items: center;
 }
 /*pseudo selectors lagake bg dedo */
 #cleint-section::before{
   content: "";
   position: absolute;
   background: url('../bg2.jpg') no-repeat center center/cover;
   /* background-repeat: no-repeat; */
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.6;
 } 
 #cleint-section{
    height: 344px;
    align-items: center;
 }
 #cleint-section img {
    height: 105px;
 }
 #cleints{
    display: flex;
    justify-content: center;
    align-items: center;
 }
#cleint-item{
    padding: 34px;
}

/*Contact section */
#contact h1{
    font-size: 2.5rem;
}
#contact{
    position:relative
}
#contact::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity: 0.7;
    background: url('../c2.jpg') no-repeat center center/cover;;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem ;
}
footer{
    background: black;
    color: aliceblue;
    padding: 9px 20px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
.services-container h1{
    font-size: 3rem;
 }
/*utility classes*/
.h_primary{
    font-size: 3.8rem;
    padding:12px;
}
.h-secondary center{
    font-size: 3.8rem;
    padding:12px;
}
.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: gray;
    color: white;
    margin: 17px;  /*same in all four directions */
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}